.showcase {
  background-image: url(./../bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: block;
  font-size: 30px;
  padding-top: 30vh;
  line-height: 1.2;
}
.showcase p {
  padding: 20px;
}
* {
  margin: 0px;
}

.buttom {
  border: #929292 2px solid;
  text-decoration: none;
  color: #929292;
  padding: 0px 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.section1 {
  display: block;
  text-align: center;
  color: white;
  border: none;
  background-color: rgb(128, 77, 0);
  padding: 20px;
  line-height: 1.5;
}
.section2 {
  display: block;
  text-align: center;
  color: rgb(128, 77, 0);
  background-color: white;
  padding: 20px;
  line-height: 1.5;
}
.section3 {
  padding: 20px;
  display: inline-block;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.box1 {
  width: 65vh;
  display: block;
  display: inherit;
  color: white;
  background-color: rgb(128, 77, 0);
  text-align: center;
  padding: 20px;
  line-height: 1.5;
  
  
}

.box2 {
  width: 65vh;
  display: block;
  display: inherit;
  color: rgb(128, 77, 0);
  background-color: white;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
}
.box3 {
  width: 65vh;
  display: block;
  display: inherit;
  color: white;
  background-color: rgb(128, 77, 0);
  text-align: center;
  padding: 20px;
  line-height: 1.5;
}

