.showcase {
  background-image: url(./../bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: block;
  font-size: 30px;

}

.buttom {
  border: #929292 2px solid;
  text-decoration: none;
  color: #929292;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.section1 {
  display: block;
  text-align: center;
  color: white;
  border: none;
  background-color: olive;
  padding: 20px;
}
.section2 {
  display: block;
  text-align: center;
  color: olive;
  background-color: white;
  padding: 20px;
}
